@import "bootstrap";

ul li {
    padding: 5px 0px;
}

.large-image {
    width: 800px;
    display: block;
margin-left: auto; 
margin-right: auto;
  }

h1 {
    font-size: 70px;
  }

.center {
    width:700px;
    margin:0 auto;
    text-align:left;
}

.center-image {
  
}