@import "bootstrap";

ul li {
    padding: 5px 0px;
}

.large-image {
    width: 800px;
    display: block;
margin-left: auto; 
margin-right: auto;
  }

h1 {
    font-size: 70px;
  }

.center {
    width:700px;
    margin:0 auto;
    text-align:left;
}

.less-padding {
  padding-top: 10px;
}

.endpoint {
  color: #f84342;
  font-family: 'robotoitalic', sans-serif;
  font-size: 20px;
}