<div class="container jumbotron less-padding">
  <h1 class="font-size text-center text-primary">
    Edward Snowden
  </h1>
  <h2 class="text-center">
    <em>The man who outsmarted the world's most powerful empire
    </em>
  </h2>
  <br />
  <div class="center-image">
    <img class="large-image " src="https://www.wired.com/wp-content/uploads/2014/08/03_Cnt3_Fr8-w-1200x630-e1450726353430.jpg">
  </div>
  <br />
  <div class="text-center"> 
    <h4>This site is an API that provides summaries of various leaks from the former CIA employee, and NSA contractor Edward Snowden.</h4>
    <%= link_to 'See the JSON endpoint', places_path, class: 'endpoint' %>
  </div>
</div>

<br />
<div class="col-10 offset-1 text-center">
  <h5>Created by <%= link_to 'J', j_path %></h5>
</div>
