<div class="container jumbotron">
<h1 class="font-size text-center text-primary">
  Edward Snowden
</h1>
  <h2 class="text-center">
    <em>The man who outsmarted the world's most powerful empire
    </em></h2>
    <br />
    <div class="center-image">
<img class="large-image " src="https://www.wired.com/wp-content/uploads/2014/08/03_Cnt3_Fr8-w-1200x630-e1450726353430.jpg">
</div>
</div>